body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button { 
  margin-left: 20px;
  max-width: fit-content;
  max-height: min-content;
  white-space: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
  color: rgb(117, 117, 117);
}



h1 {
  margin-top: 60px;
  margin-left: 30px;
}



.clear {
  clear: both;
  height: 70px;
}

.footer-image {
  height: 40px;
}

.header {
  width: 100vw;
  margin-bottom: 30px;
}

.cards {
  margin: 0px 10% 0px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  margin-top: 10px;
  margin-left: 10px;
  min-height: 140px;
}

.card-body {
  height: 90px;
  height: inherit;
  position: relative;
}

.card-body > button {
  bottom: 20;
  left: 20;
  position: absolute;
  background-color: #ff0018b8;
  bottom: 20px;
}



.create {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.create > input {
  margin-right: 25px;
}

.create > button {
  align-content: space-around;
  
  margin-right: 30px;
}

.linkNews {
  margin-bottom: 20px;
}

.news {
  margin-bottom: 120px;
}

.footer > .container {
  display: flex;
  flex-direction: column;
}

.header > container {
  display: flex;
  justify-content: space-between;
}



@media only screen and (max-width: 990px) {
  
  .cards {
    grid-template-columns: 1fr 1fr;
    margin-left: 3%;;
  }

    button {
      margin-top: 10px;
      white-space: nowrap;
    }
}

@media only screen and (max-width: 650px) {

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 2%;

    .card {
      grid-column: 2/3;
    }
  }
}

@media only screen and (max-width: 550px) {
  button {
    //text-size: 14px;
    clear: both;
  }

  .cards {
    grid-template-columns: 1fr;

    .card {
      grid-column: 1/1;
    }
  }

  .create {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    button {
      margin-top: 10px;
      white-space: nowrap;
    }
  }
}